@media (max-width: 1024px){
.main__cards{
    margin-left: 8px
}
.container-program{
    height: 300px;
}
/*-- PROGRAMA --*/
.main-program{
    background-size: cover;
    height: 30vh;
}
.download h3{
    margin-left: -100px;
}
.container-guia{
    margin-left: 0px;
}
.container-2021{
    background-position: right;
    background-size: cover;
    height: 30vh;
}
/*-- BUY-PROGRAM --*/
.modulo_pago_images img{
    margin-left: -20px;
}
}

@media (max-width: 768px){
.main img{
    width: 345px;
}
.main__cards{
    margin-left: 200px
}
.card-expert{
    margin-left: 170px;
}
/*-- PROGRAMA --*/
.container-guia{
    text-align: center;
}
.container-price{
    width: 65%;
}
.download h3{
    margin-left: -100px;
}
.price-button {
    text-align: center;
}
.container-2021 p{
    font-size: 45px;
}
/*-- BUY-PROGRAM --*/
.modulo_pago_images img{
    width: 220px;
    margin-top: 5px;
}
}

@media (max-width: 600px){
.main__cards{
    margin-left: 110px
}
.main img{
    width: 290px;
}
.container-program img{
    width: 261px;
}
.download h3{
    font-size: 20px;
}
.download a{
    font-size: 15px;
    margin-top: -8px;
}
.card-expert{
    margin-left: 85px;
}
/*-- PROGRAMA --*/
.main-program img{
    width: 100px;
    margin: 0px !important;
}
.main-program{
    background-position: 0px 0px;
    height: 40vh;
}
.card-expert{
    margin-left: 115px;
}.price-button{
    margin-left: 100px;
}
.container-2021{
    background-size: cover;
    height: 40vh;
}
.container-2021 img{
    width: 200px;
}
.container-2021 p{
    font-size: 30px;
}
/*-- BUY-PROGRAM --*/
.banner{
    height: 20vh;
}
.modulo_pago_images img{
    width: 190px;
    margin-top: 5px;
}
}

@media (max-width: 540px){
.main img{
    margin-left: 230px;
}
.main-program{
    background-size: cover;
    height: 32vh;
    background-position: top;
}
.card-expert{
    margin-left: 90px;
}
.price-button{
    margin-left: 80px;
}
.container-2021{
    height: 30vh;
}
/*-- BUY-PROGRAM --*/
.banner{
    height: 25vh;
}
.modulo_pago_images img{
    width: 170px;
    margin-top: 5px;
    margin-left: 5px;
}
}

@media (max-width: 414px){
.main img{
    width: 200px;
    margin-left: 190px;

}
.download h3{
    font-size: 15px;
}
.download a{
    font-size: 11px;
    margin-top: -8px;
}
.main__cards{
    margin-left: 48px;
}
.container-program img{
    width: 200px;
}
.card-expert{
    margin-left: 28px;
}
/*-- PROGRAM --*/
.main-program img{
    width: 75px;
}
.main-program{
    height: 24vh;
}
.cont__program-card img{
    width: 350px;
    margin: 0px 20px;
}
.cont__program-card{
    width: 95%;
}
.cont__program-card p{
    text-align: justify;
    font-size: 16px;
}
.container-price{
    width: 90%;
}
.container-2021{
    height: 22vh;
}
.container-2021 img{
    width: 150px;
}
.container-2021 p{
    font-size: 22px;
}
/*-- BUY-PROGRAM --*/
.banner{
    height: 20vh;
}
.cont{
    margin-bottom: 5rem!important;
}
.col-8{
    margin-left: 50px;
    position: absolute;
    display: block;
}
.modulo_pago_images img{
    visibility: hidden;
    width: 170px;
    margin-top: 5px;
    margin-left: 5px;
}
}

@media (max-width: 411px){
.main__cards{
    margin-left: 29px;
}
.container-program img{
    width: 186px;
}
/*-- PROGRAM --*/
.main-program{
    height: 24vh;
}
.cont__program-card img{
    width: 325px;
}
.container-2021{
    height: 20vh;
}
}

@media (max-width: 375px){
.main img {
    width: 190px;
    margin-left: 160px;
}
/*-- PROGRAM --*/
h1{
    font-size: 35px;
}
.main-program{
    height: 20vh;
}
.cont__program-card img{
    width: 290px;
}
.card-expert{
    margin-left: 0px;
}
.container-2021{
    height: 19vh;
}
.container-2021 img{
    width: 140px;
}
.container-2021 p{
    font-size: 22px;
}
}

@media (max-width: 360px){
.main-program{
    height: 24vh;
}
.main img {
    width: 180px;
    margin-left: 150px;
}
.container-program img{
    visibility: hidden;
}
.card-expert{
    margin-left: 0px;
}
/*-- PROGRAM --*/
.price-button{
    margin-left: 70px;
}
.container-2021{
    height: 24vh;
}
.container-2021 p{
    font-size: 20px;
}
}

@media (max-width: 320px){
.main img {
    width: 150px;
    margin-left: 140px;
}
.download h3{
    font-size: 12px;
}
.download a{
    font-size: 9px;
    margin-top: -9px;
}
/*-- PROGRAM --*/
.main-program{
    height: 24vh;
}
h1{
    font-size: 28px;
}
.cont__program-card img{
    width: 250px;
}
.card-expert{
    margin-left: -25px;
}
.price-button{
    margin-left: 50px;
}
.container-2021{
    height: 22vh;
}
.container-2021 img{
    width: 130px;
}
.container-2021 p{
    font-size: 17px;
}
}

@media (max-width: 280px){
.cont__program-card img {
    width: 220px;
}
.download h3{
    font-size: 10px;
}
.download a{
    font-size: 10px;
    margin-top: -11px;
}
}