body{
    background-color: #F1F1F1;
}
 .main-program{
     background-image: url(../assets/bg-program-1.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 0px 0px;
     height: 91vh;
 }
 .download{
     background-color: #1473e6;
 }
 .download h3{
     color: white;
     margin-right: 5px;
     margin-left: -100px;
 }
 .download a{
    color:white;
    background-color: #1473e6;
    border: white 2px solid;
    border-radius: 15px;
    font-size: 16px;
    padding: 6px;
    position: absolute;
    margin-top: -3px;
    margin-left: 5px;
 }

.download a:hover{
    background-color: white;
    color: #1473e6;
    text-decoration: none;
}

.cont__program-card{
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 3px 6px;
}

.cont__program-card h2{
    color: purple;
    text-align: center;
}
.cont__program-list{
    list-style: none;
    color: rgb(245, 81, 182);
}
.cont__program-list-2{
    background-color: #ffffff;
    border: rgb(253, 192, 230) 3px solid;
    border-radius: 15px;
    box-shadow: 1px 2px 8px;
    color:rgb(245, 81, 182);
}
.container-price{
    background-color:#F1F1F1;
    border: white 3px solid;
    border-radius: 25px;
    width: 35%;
    box-shadow: 12px 24px 48px;
}

.recetario h4{
    color:tomato
}

.recetario a{
    color: rgb(223, 132, 223);
    list-style: none;
    font-size: 20px;

}

.price-1{
    color:#ABABAB;
    font-size: 30px;
    text-decoration: line-through;
}
.price-1 small{
    font-size: 20px;
}

.price-real{
    margin-top: -25px;
    font-size: 60px;
}
.list{
    background-image: url(../assets/comprobado.png);
    background-size: 20px;
    background-repeat: no-repeat;
    list-style: none;
}
.list p{
    margin-left: 25px;
    color: black;
    margin-bottom: 15px;
}
.price-button{
    text-align: center;
    color: white;
    background-color: #F53ADC;
    border-radius: 22px;
    height: 30px;
    width: 150px;
    font-weight: bold;
}
.price-button:hover{
    background-color: #f066dd;
}
.price-button a{
    text-decoration: none;
    color: white;
}
.price-button a:hover{
    color: rgb(226, 225, 225);
}

.container-2021{
    background-image: url(../assets/bg-peso.jpg);
    background-size: cover;
    height: 65vh;
}

.container-2021 p{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: white;
}
